.header {
    background: url('../img/whiskey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    /*height: auto;*/
    color: "white";
}

.header-text {
    color: #FFFFFF;
    /*font-size: 48px;*/
}

#fav-body {
  padding-bottom: 20px;
  padding-left: 20px;
}

.card .card-reveal .card-favorite {
	position: absolute;
  right: 1.4rem;
  bottom: 0.7rem;
  cursor: pointer;
}

.collapsible-header h4 {
  text-align: center;
}

#dropdown1 li:hover, #dropdown1 li.active, #dropdown1 li.selected {
  background-color: #444444;
}

#submit-search {
	position: relative;
	top: 25%;
	transform: translateY(-50%);
}

#random-row {
	margin-top: 50px;
}

#footer-copyright {
  padding-left: 10px;
}

h2 {
  color: white;
  font-size: 6.0rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}

nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  white-space: nowrap;
  right: 0.5rem;
  left: auto;
}

.header-content {
    font-family: 'Great Vibes', cursive;
    position: relative;
    text-align: left;
    bottom: -8rem;
    left: 2rem;
    /*padding-top: 140px;
    padding-left: 60px;
    padding-bottom: 160px;*/
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
		/*font-family: 'Dosis', sans-serif;*/
    font-family: 'Josefin Slab', serif;
  }

main {
    flex: 1 0 auto;
		/*font-family: 'Dosis', sans-serif;*/
    font-family: 'Josefin Slab', serif;
  }

.marketing-head {
    font-size: 24px;
}
